<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3 form-group">
      <input type="text" class="form-control" id="name" name="name"/>
      <label class="form-check-label" for="description">Tên khóa học</label>
    </div>
    <div class="mb-3 form-group">
      <input type="text" class="form-control" id="description" name="description"/>
      <label class="form-check-label" for="description">Mô tả</label>
    </div>
    <div class="mb-3 form-group">
      <input type="text" class="form-control" id="videoId" name="videoId"/>
      <label class="form-check-label" for="description">Video ID</label>
    </div>
    <div class="mb-3 form-group">
      <input type="text" class="form-control" id="level" name="level"/>
      <label class="form-check-label" for="description">Trình độ</label>
    </div>
    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
  </form>
</div>